@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");
.mainLayout {
  background-color: #f5f5fb;
  min-height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.mainLayout .verify-mail {
  position: fixed;
  z-index: 100000000;
  bottom: 20px;
  right: 20px;
  width: 80%;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #ff683c;
  max-width: 550px;
  background-color: white;
  overflow: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.mainLayout .verify-mail .info-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #ff652d;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  z-index: 1;
  -webkit-box-shadow: 0 10px 20px rgba(4, 42, 60, 0.3);
          box-shadow: 0 10px 20px rgba(4, 42, 60, 0.3);
  cursor: pointer;
}

.mainLayout .verify-mail .content-mail {
  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
  font-size: 14px;
  width: calc(100% - 40px);
  min-width: 500px;
  padding: 0 20px;
  line-height: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainLayout .verify-mail .content-mail span {
  font-weight: 600;
  color: #ff683c;
  cursor: pointer;
}

.mainLayout .verify-mail.close {
  width: 50px;
  border-color: transparent;
}

.mainLayout .sideBar {
  width: 220px;
  min-width: 220px;
  background-color: #042a3c;
  height: 100vh;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  z-index: 1000000000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mainLayout .sideBar .logo {
  width: 150px;
}

.mainLayout .sideBar .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  color: #666666;
  margin-bottom: 20px;
  cursor: pointer;
}

.mainLayout .sideBar .sideItems {
  padding: 30px 20px;
}

.mainLayout .sideBar .sideLink {
  margin-bottom: 20px;
  font-size: 15px;
  width: 200px;
  font-weight: 600;
  color: #cccccc;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mainLayout .sideBar .sideLink .icon-main {
  margin-right: 5px;
}

.mainLayout .sideBar .sideLink svg {
  margin-bottom: 5px;
}

.mainLayout .sideBar .sideLink.active {
  color: #ffffff;
}

.mainLayout .sideBar .sideLink.active .icon-main {
  color: #ffffff;
}

.mainLayout .sideBar .sideLink.logout {
  color: #ff683c;
}

.mainLayout .sideBar .sideLink.userControl {
  color: #084c6b;
}

@media screen and (max-width: 600px) {
  .mainLayout .sideBar.close {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    left: -220px;
  }
}

.mainLayout .user_profile {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mainLayout .user_profile svg {
  color: white;
}

.mainLayout .user_profile .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainLayout .user_profile .desc .avatar {
  width: 35px;
  height: 35px;
  background-color: #084c6b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 2px;
  font-weight: 600;
}

.mainLayout .user_profile .desc span {
  color: white;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
}

.mainLayout .user_profile .desc span .small {
  color: #b3b3b3;
  margin-top: -2px;
  font-size: 14px;
}

.mainLayout .navBar {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  right: 0;
  left: 220px;
  top: 0;
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .mainLayout .navBar {
    width: 100%;
    left: 0;
  }
}

.mainLayout .navBar .pageTitle {
  font-size: 15px;
  font-weight: 700;
  color: #4d4d4d;
}

.mainLayout .navBar .navLeft {
  min-width: 150px;
}

.mainLayout .navBar .navRight {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .mainLayout .navBar .navRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mainLayout .navBar .navRight svg {
  color: #666666;
}

.mainLayout .navBar .navRight .navItem {
  margin-right: 20px;
}

.mainLayout .navBar .navRight .navItem:last-child {
  margin-right: 0;
}

.mainLayout .contentMain {
  width: 100%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 320px;
  margin-top: 100px;
}

.mainLayout .mainBar {
  width: calc(100% - 250px);
  position: fixed;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 220px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  overflow-y: auto;
}

@media screen and (max-width: 600px) {
  .mainLayout .mainBar {
    width: 100%;
    left: 0;
  }
}

.mainLayout .mainBar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.mainLayout .role-switcher .context {
  background-color: #0f8fca;
  padding: 5px 20px;
  border-radius: 2px;
}

.mainLayout .role-switcher small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.mainLayout .role-switcher small span {
  margin-top: 5px;
}

.mainLayout .role-switcher small svg {
  margin-top: -5px;
}

.mainLayout .role-switcher .dropdown-main {
  width: 100%;
}

.mainLayout .role-switcher .dropdown-content {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Tajawal", sans-serif;
  font-weight: 600;
  width: 100%;
}

.mainLayout .role-switcher .head {
  font-size: 14px;
  font-family: "Tajawal", sans-serif;
  font-weight: 500;
  color: #666666;
  margin-bottom: 10px;
}

.mainLayout .notifier {
  margin-right: 40px;
}

.mainLayout .notifier svg {
  width: 20px;
  height: 20px;
  color: #999999;
}
/*# sourceMappingURL=mainlayout.css.map */