@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  max-height: 100vh;
  overflow-y: hidden;
}

.text-capitalized {
  text-transform: capitalize;
}

.search-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.search-section .search-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 350px;
}

.search-section .filter-box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-section .filter-box .select-input {
  background-color: transparent;
  outline: transparent;
  border: none;
  min-width: 160px;
  width: 100%;
  max-width: 250px;
}

.search-section .filter-box .select-input:hover, .search-section .filter-box .select-input:focus {
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 1023px) {
  .search-section .search-box {
    max-width: 100%;
  }
  .search-section .select-input {
    max-width: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .search-section {
    margin-bottom: -20px;
  }
}

.imageItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2em;
  margin-top: 20px;
}

.imageItems .imageHolder {
  height: 150px;
  position: relative;
}

.imageItems .imageHolder .bgMain {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.imageItems .imageHolder i {
  position: absolute;
  padding: 15px;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.imageItems .imageHolder .inner {
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
  background-color: #15f3b0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.pointer {
  cursor: pointer;
}

.lease-search-box {
  min-width: 200px;
}

.link {
  color: #084c6b;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

a {
  color: #042a3c !important;
  text-decoration: none !important;
}

.secondary-color {
  color: #ff683c;
}

.primary-color {
  color: #084c6b;
}

.section-divider {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}

.tag-buttons {
  background-color: white;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.tag-buttons.active {
  border-color: #084c6b;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid.grid-auto {
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid.grid-auto-charge {
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.grid.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid.grid-2 {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .grid.grid-2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid.grid-gap-2 {
  grid-gap: 2em;
}

.grid.grid-gap-h-2 {
  grid-column-gap: 1em;
}

.grid.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .grid.grid-3 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid.grid-3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid.grid-4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .grid.grid-4 {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .grid.grid-4 {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.padding-20 {
  padding: 20px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flex.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex.space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex > .flex-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mobile,
.mobile-side-bar {
  display: none;
}

.heading-context {
  background-color: #ffea9f;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.heading-context.bg2 {
  background-color: rgba(162, 178, 255, 0.27);
}

.heading-context.bg3 {
  background-color: rgba(162, 255, 255, 0.27);
}

.heading-context.bg4 {
  background-color: #fff7dc;
}

.heading-context img {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 950px) {
  .heading-context img {
    width: 100px;
    height: 100px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
  }
}

@media screen and (max-width: 900px) {
  .heading-context img {
    width: 70px;
    height: 70px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 20px;
  }
}

.heading-context.bg3 img, .heading-context.bg2 img {
  top: -50px;
}

@media screen and (max-width: 950px) {
  .heading-context.bg3 img, .heading-context.bg2 img {
    top: 45px;
  }
}

.heading-context.bg4 img {
  width: 80px;
  top: -35%;
}

@media screen and (max-width: 950px) {
  .heading-context.bg4 img {
    top: 55px;
  }
}

.heading-context .context {
  margin-left: 210px;
}

@media screen and (max-width: 950px) {
  .heading-context .context {
    margin-left: 120px;
  }
}

@media screen and (max-width: 900px) {
  .heading-context .context {
    margin-left: 100px;
  }
}

.heading-context .context h3,
.heading-context .context p {
  margin: 0;
}

.heading-context .context h3 {
  margin-bottom: 10px;
  font-weight: 600;
  color: #9f7c00;
  font-size: 15px;
}

.heading-context .context p {
  margin-bottom: 0;
  font-size: 14px;
  max-width: 700px;
  font-family: "Tajawal", sans-serif;
  line-height: 20px;
}

.heading-context.bg2 h3 {
  color: #001ca2;
}

.heading-context.bg3 h3 {
  color: #00a2a2;
}

.heading-context.bg4 h3 {
  color: #dcaa00;
}

@media screen and (max-width: 900px) {
  .mobile {
    display: inherit;
  }
  .desktop {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .mobile-side-bar {
    display: inherit;
  }
  .desktop-side-bar {
    display: none;
  }
  .search-section-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
  }
}

.credit {
  color: #3dd89a;
}

.debit {
  color: #ff652d;
}

.min-w-100 {
  min-width: 100px;
}

.block {
  display: block;
}

.views-card {
  background-color: white;
  border-radius: 10px;
  min-width: calc(400px - 15px);
  margin-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.views-card .content {
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
  padding: 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.views-card .content::-webkit-scrollbar {
  width: 4px;
}

.views-card .content::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  outline: 1px solid #b5cbde;
}

.views-card .content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px white;
          box-shadow: inset 0 0 6px white;
}

.views-card h4 {
  padding: 20px 30px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  color: #084c6b;
  margin: 0;
}

.views-card .bottom {
  background-color: #f2f2f2;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.views-card .bottom h5 {
  margin: 15px 0;
  font-size: 13px;
  font-weight: bold;
  color: #666666;
}

@media screen and (max-width: 380px) {
  .activity-summary-container {
    margin-top: 30px !important;
    font-size: 13px;
  }
  .quick-views-container {
    margin-top: 30px !important;
    font-size: 13px;
  }
  .views-card {
    border-radius: 5px;
    min-width: 250px;
  }
  .views-card .content {
    padding: 0 20px;
  }
  .views-card h4 {
    padding: 20px 20px;
    font-size: 12px;
  }
  .views-card .bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .views-card .bottom h5 {
    margin: 10px 0;
    font-size: 12px;
  }
  .heading-context {
    border-radius: 5px;
    padding: 10px;
  }
  .heading-context img {
    bottom: 0;
    left: 0 !important;
    width: 50px;
    height: 50px;
    top: 40px;
  }
  .heading-context.bg3 img, .heading-context.bg2 img {
    top: -50px;
  }
}

@media screen and (max-width: 380px) and (max-width: 950px) {
  .heading-context.bg3 img, .heading-context.bg2 img {
    top: 45px;
  }
}

@media screen and (max-width: 380px) {
  .heading-context.bg4 img {
    width: 80px;
    top: -35%;
  }
}

@media screen and (max-width: 380px) and (max-width: 950px) {
  .heading-context.bg4 img {
    top: 55px;
  }
}

@media screen and (max-width: 380px) {
  .heading-context .context {
    margin-left: 80px !important;
  }
  .heading-context .context h3 {
    font-size: 13px;
    margin-bottom: 5px;
  }
  .heading-context .context p {
    font-size: 13px;
    line-height: 15px;
  }
}
/*# sourceMappingURL=default.css.map */